@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&subset=latin-ext');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

$Roboto: 'Roboto', sans-serif;
$RobotoCondensed: 'Roboto Condensed', sans-serif;

$main-color: #174358;
$green-color: #8cd790;
$blue-color: #2b90d9;
$orange-color: #eb6c45;
$text-color: #313131;
$text-color-w: #e2e2e2;
$candidate: #2fe852 ;
$employer: #4faef3;
$advertising-space: #d46748;
$business-center: #aa92fd;
$small-business: #f8555a;

$withPop-up: 213px;
$accordionWidth: calc(100% - 15px);