@import 'var';

@mixin pop-up {
  position: absolute;
  padding: 23px 17px;
  width: $withPop-up;
  height: 123px;
  line-height: 22px;
  opacity: 0;
  transition: opacity .3s ease;
  p {
    margin: 0;
    color: #fff;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    font-family: $RobotoCondensed;
    line-height: 22px;
  }
  button, a {
    position: relative;
    top: 15px;
    width: 100px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: $orange-color;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    font-family: $RobotoCondensed;
    &:hover {
      background-color: darken($orange-color, 15%);
      color: #fff;
    }
  }
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  background-color: #fff;
  color: $main-color;
  font-size: 16px;
  font-family: $Roboto;
  line-height: 1.6;
}

.hidden {
  display: none;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid, body textarea:required:valid {
  color: #666;
}

//Custom Styles Here
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.btn-style {
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: Roboto-Bold, sans-serif;
}

.btn-small {
  width: 100px;
  height: 30px;
  font-size: 14px;
}

.btn-medium {
  width: 187px;
  height: 50px;
  font-size: 24px;
}

.btn-reg {
  background-color: $blue-color;
}

.btn-join {
  background-color: $orange-color;
  &:hover {
    background-color: darken($orange-color, 15%);
    color: #fff;
  }
}

.btn-log {
  background-color: #8cd790;
}

.accord-btn {
  display: inline-block;
  padding: 0 10px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  font-family: Roboto-Bold, sans-serif;
  .icon {
    vertical-align: text-bottom;
  }
  &.assessment-btn-bg {
    background-color: #2edd4b;
  }

  &.chat-btn-bg {
    background-color: #ffbc42;
  }

  &.press-to-put {
    padding: 3px 10px;
    background-color: #f9db0f;
    color: #313131;
    font-weight: 600;
    font-size: 10px;
  }

  &.job-data {
    padding: 2px 10px;
    background-color: #2b90d9;
    font-weight: 600;
    font-size: 14px;
  }

  &.send-CV-btn-bg {
    background-color: #2ec4b6;
  }

  &.employer-info-btn-bg {
    background-color: #a593e0;
  }
  &.transparent {
    color: #174358;
  }
}

header {
  width: 100%;
  height: 100px;
  background-color: $main-color;

  .logo {
    margin-top: 26px;
  }

  .btn-style {
    &:first-child {
      margin-top: 10px;
      margin-bottom: 13px;
    }
  }
}

// .header-block
.prew-arrow, .next-arrow {
  position: absolute;
  top: 48%;
  z-index: 1000;
  width: 64px;
  height: 64px;
  background-image: url(../img/sprite.png);
  cursor: pointer;
}

.prew-arrow {
  left: 16%;
  background-position: (-356px) -122px;
}

.next-arrow {
  right: 16%;
  background-position: (-428px) -122px;
}

.all-users {
  position: relative;
  display: inline-block;
  margin: 60px 0 35px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 26px;
  font-family: $RobotoCondensed;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #f8555a;
  }
}

.header-block {
  position: relative;
  width: 100%;
  height: 670px;
  background-image: url(../img/bg-header.jpg);

  .earth-center-block {
    position: relative;
    margin: 0 auto;
    width: 406px;
    height: 405px;
    background-image: url(../img/earth.png);
    text-align: center;

    .play-center {
      display: inline-block;
      margin-top: 142px;
      width: 121px;
      height: 121px;
      background-image: url(../img/sprite.png);
      background-position: (-8px) -197px;
    }

    .item {
      position: absolute;
      width: 80px;
      height: 80px;
      border: 2px solid transparent;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, .9);
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      &.active {
        .pop-up {
          opacity: 1;
        }
      }
      &:not(.active) {
        &:hover {
          .pop-up {
            opacity: 1;
          }
        }
      }
      .description {
        position: absolute;
        h4 {
          position: relative;
          display: inline-block;
          margin: 0;
          color: #fff;
          white-space: nowrap;
          font-weight: 700;
          font-size: 18px;
          font-family: $RobotoCondensed;
          &:after {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 100%;
            border-bottom-width: 2px;
            border-bottom-style: solid;
          }
        }
        p {
          margin: 12px 0 0;
          color: #fff;
          font-weight: 500;
          font-size: 14px;
          font-family: $RobotoCondensed;
          line-height: 1;
        }
      }
    }

    .candidate {
      top: 20px;
      left: 1px;
      border-color: $candidate;
      background-image: url(../img/icon-candidate.png);
      .pop-up {
        top: -30px;
        right: calc(#{$withPop-up} + 30px);
        background-image: url(../img/sprite.png);
        background-position: (-157px -206px);

        @include pop-up;
      }
      .description {
        top: 5px;
        left: -126px;
        text-align: right;
        h4 {
          &:after {
            border-color: $candidate;
          }
        }
      }
    }

    .employer {
      top: 20px;
      right: -2px;
      border-color: $employer;
      background-image: url(../img/icon-empl.png);
      .pop-up {
        top: -65px;
        left: calc(#{$withPop-up} + 30px);
        background-image: url(../img/wrapper-empl.png);

        @include pop-up;
      }
      .description {
        top: 10px;
        right: -130px;
        text-align: left;

        h4 {
          &:after {
            border-color: $employer;
          }
        }
      }
    }

    .advertising-space {
      right: -37px;
      bottom: 128px;
      border-color: $advertising-space;
      background-image: url(../img/icon-advertising.png);
      .pop-up {
        top: 40px;
        left: calc(#{$withPop-up} + 30px);
        background-image: url(../img/wrapper-space.png);

        @include pop-up;
      }
      .icon {
        top: 20px;
        background-position: (-140px) -129px;
      }
      .description {
        top: 10px;
        right: -168px;
        text-align: left;

        h4 {
          &:after {
            border-color: $advertising-space;
          }
        }
      }
    }

    .business-center {
      bottom: -35px;
      left: 165px;
      border-color: $business-center;
      background-image: url(../img/icon-businessCenter.png);
      .pop-up {
        top: 0;
        right: -325px;
        background-image: url(../img/wrapper-buissnes.png);

        @include pop-up;
      }
      .description {
        top: 85px;
        right: -80vpx;
        text-align: left;

        h4 {
          &:after {
            border-color: $business-center;
          }
        }
      }
    }

    .small-business {
      bottom: 128px;
      left: -37px;
      border-color: $small-business;
      background-image: url(../img/icon-smalBusiness.png);
      .pop-up {
        top: 45px;
        right: 251px;
        background-image: url(../img/wrapper-smallBuissnes.png);

        @include pop-up;
      }
      .description {
        top: 10px;
        left: -174px;
        text-align: right;

        h4 {
          &:after {
            border-color: $small-business;
          }
        }
      }
    }
  }
}

h2 {
  margin: 60px 0;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  font-family: $RobotoCondensed;
}

.info-block {
  margin-bottom: 68px;
  font-weight: 700;
  font-size: 16px; //wtf
  font-family: $RobotoCondensed;
  .icon {
    display: block;
    margin: 0 auto 30px;
    height: 110px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    &.head {
      width: 89px;
      background-position: (-6px) -7px;
    }

    &.chat {
      width: 104px;
      background-position: (-129px) -7px;
    }

    &.money {
      width: 107px;
      background-position: (-278px) -7px;
    }
    &.loop {
      width: 107px;
      background-image: url(../img/employer-loop.png);
    }
    &.planing {
      width: 107px;
      background-image: url(../img/small-business-planning.png);
    }
    &.transl {
      width: 107px;
      background-image: url(../img/small-business-transl.png);
    }
    &.money-new {
      width: 107px;
      background-image: url(../img/small-business-monye.png);
    }
  }

  h3 {
    margin-bottom: 68px;
    color: $main-color;
    font-weight: 700;
    font-size: 20px;
    font-family: $RobotoCondensed;
    line-height: 1.7;
  }

  p {
    position: relative;
    font-weight: 500;
    font-family: $RobotoCondensed;
    line-height: 22px;
    &:not(:last-child) {
      margin-bottom: 28px;
    }
    &.cs {
      &:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: -30px;
        display: block;
        width: 136px;
        height: 45px;
        background-image: url(../img/comingSoon.png);
        background-repeat: no-repeat;
      }
    }
  }

  & > div {
    //temp fix
    &:before, &:after {
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: #e4e7ed;
    }
    &:first-child {
      &:before {
        content: '';
        right: 0;
      }
    }
    &:last-child {
      &:before {
        content: '';
        left: 0;
      }
    }
  }
}

.tab {
  padding-top: 75px;
  .nav-tabs {
    border-bottom: none;
    text-align: center;
    font-size: 0;
    & > li {
      display: inline-block;
      float: none;
      margin-bottom: 0;
      border-bottom: 1px solid $main-color;
      & > a {
        margin-right: 0;
        color: #313131;
        font-weight: 500;
        font-size: 24px;
        font-family: $RobotoCondensed;
        &:hover {
          border-color: transparent;
          background-color: #f2f8fc;
        }
      }
      &.active {
        & > a {
          border-width: 0 0 1px 0;
          background-color: $main-color;
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }
  &-content {
    padding-top: 40px;
  }
}

.accordion-wrapper {
  margin-top: 70px;
  padding-bottom: 50px;
  .panel-group {
    margin-bottom: 0;
    width: $accordionWidth;
    border: 1px solid #ddd;
    &.pull-right {
      .panel-heading a p {
        left: 240px;
      }
    }
    .panel {
      border: none;
      border-radius: 0;

      & + .panel {
        margin-top: 0;
      }
      &-heading {
        padding: 0;
        border-bottom: 1px solid #ddd;
        transition: all .2s linear;

        a {
          position: relative;
          display: block;
          padding: 10px 15px;
          text-decoration: none;
          min-height: 47px;
          p {
            position: absolute;
            left: 180px;
            display: inline-block;
            margin-bottom: 0;
            color: #555;
            font-weight: 600;
          }
          .icon {
            display: inline-block;
            background-repeat: no-repeat;
            &-progress {
              width: 130px;
              height: 10px;
              background-image: url(../img/accordion-progress.png);
            }
            &-clock {
              width: 76px;
              height: 16px;
              background-image: url(../img/accordion-clock.png);
            }
            &-dots {
              width: 76px;
              height: 16px;
              background-image: url(../img/accordion-dots.png);
            }
            &-press {
              width: 20px;
              height: 16px;
              background-image: url(../img/accordion-stick-man.png);
            }
            &-filter {
              width: 14px;
              height: 17px;
              background-image: url(../img/accordion-filter.png);
            }
            &-cloud {
              width: 32px;
              height: 17px;
              background-image: url(../img/accordion-cloud.png);
            }
            &-dots-small {
              margin-left: 5px;
              width: 35px;
              height: 13px;
              background-image: url(../img/accordion-dots-small.png);
            }
          }
          .fa {
            float: right;
            color: #313131;
            font-size: 22px;
            transition: .2s ease;
          }
          &:not(.collapsed) {
            background-color: $main-color;
            p {
              color: #fff;
            }

            .fa {
              color: #fff;
              transform: rotate(90deg);
            }
            .transparent {
              color: #fff;
            }
          }
        }
        & + .panel-collapse {
          & > .panel-body {
            position: relative;
            z-index: 1;
            border-top: none;
            border-bottom: 1px solid #ddd;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
            transition: none;
          }
        }
      }
    }
  }
}

// deleteme
.accordion {
  margin-top: 80px;
  padding-bottom: 100px;
  border-top: 1px solid #dadada;
  background-color: #fcfbfc;
}

.accordion-container {
  position: relative;
  margin: 20px auto;
  width: 92%;
  height: auto;
  border: 1px solid #ddd;

  > h2 {
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    color: #fff;
    text-align: center;
  }
}

.set {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;

  > a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    color: #555;
    text-decoration: none;
    font-weight: 600;
    transition: all .2s linear;

    i {
      position: relative;
      float: right;
      margin-top: 4px;
      color: #666;
    }

    &.active {
      background-color: $main-color;
      color: #fff;

      i {
        color: #fff;
      }
    }
  }
}

.set {
  .accord-btn-styl {
    padding: 0 10px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 17px;
    font-family: Roboto-Bold, sans-serif;
  }

  .assessment-btn-bg {
    background-color: #2edd4b;
  }

  .chat-btn-bg {
    background-color: #ffbc42;
  }

  .send-CV-btn-bg {
    background-color: #2ec4b6;
  }

  .employer-info-btn-bg {
    background-color: #a593e0;
  }
}

.content {
  position: relative;
  display: none;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  font-size: 15px;

  p {
    margin: 0;
    padding: 10px 15px;
    color: #333;
  }
}

// Footer
footer {
  position: relative;
  padding-top: 38px;
  padding-bottom: 48px;
  width: 100%;
  height: 338px;
  background-color: #10374a;
  color: $text-color-w;
  font-size: 14px;

  h5 {
    margin: 0 0 30px 0;
    color: $text-color-w;
    font-weight: 700;
    font-size: 14px;
    font-family: $RobotoCondensed;
  }

  h6 {
    margin: 0 0 10px 0;
    color: $text-color-w;
    font-weight: 700;
    font-size: 15px;
    font-family: $RobotoCondensed;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    li {
      .bold {
        font-weight: 500;
      }
      a {
        color: $text-color-w;
        font-weight: 300;
        font-size: 14px;
        font-family: $RobotoCondensed;

        &:hover {
          color: darken(#fff, 25%);
          text-decoration: none;
        }
      }
      ul {
        padding-left: 10px;
      }
    }
  }

  .footer-social {
    margin-top: 35px;
    h5 {
      margin-bottom: 25px;
    }
    li {
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 1px solid #002136;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      transition: background-color .3s ease;

      &:hover {
        background-color: darken(#fff, 20%);
      }
      &:not(:last-child) {
        margin-right: 15px;
      }

      i {
        color: $main-color;
        font-size: 18px;
        line-height: 28px;
      }
    }
  }

  .footer-email {
    margin-bottom: 40px;
  }

  .footer-email, .footer-adres {
    a, p {
      color: $text-color-w;
      font-size: 12px;
      font-family: $RobotoCondensed;
      line-height: 21px;
    }
  }

  .logo-footer {
    margin-left: -30px;
    margin-top: 15px;
  }

  .copy {
    margin-bottom: 0;
    text-align: center;
    color: $text-color-w;
    font-size: 12px;
    font-family: $RobotoCondensed;
  }
}

//trash
body {
  &.candidate {
    .candidate {
      display: block;
    }
  }
  &.employer {
    .employer {
      display: block;
    }
  }
  &.small-business {
    .small-business {
      display: block;
    }
  }
}

.replaced-content {
  & > div {
    display: none;
  }
}

.carousel {
  &-inner {
    & > .item {
      display: block;
    }
  }
}
.modal{
  &-action{
    a{
      cursor: pointer;
    }
  }
  &.privacy-modal{
    h2{
      margin: 30px;
    }
  }
}